express-hotels-api/src/main/app/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="express-hotels-flow">
        <set-variable variableName="qpzipcode" value="#[message.inboundProperties.'http.query.params'.zipcode]" doc:name="zip code"/>
        <scatter-gather doc:name="Scatter-Gather">
            <processor-chain>
                <http:request config-ref="Hyatt_HTTP_Request_8083_Configuration" path="/api/hotels" method="GET" doc:name="Hyatt_HTTP">
                    <http:request-builder>
                        <http:query-param paramName="zipcode" value="#[flowVars.qpzipcode]"/>
                    </http:request-builder>
                </http:request>
                <dw:transform-message doc:name="Transform Message">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
//input map ((x) -> {x + 1})

payload.hotels map ((hotel) -> {
	"hotelId": hotel.hotelId,
	"roomId": hotel.roomId,
	"name": hotel.name,
	"address": hotel.address as :object { class: "com.aparna.entities.Address" },
	"phoneNumber": hotel.phoneNumber,
	"rating": hotel.rating,
	"comments": hotel.comments,
	"price_details": hotel.price_details as :object{ class: "com.aparna.entities.PriceDetails"},
	"services": hotel.services as :object {class: "com.aparna.entities.Services"}
})]]></dw:set-payload>
                </dw:transform-message>
            </processor-chain>
            <processor-chain>
                <http:request config-ref="Madisson_HTTP_Request_8082_Configuration" path="/api/hotels" method="GET" doc:name="Madisson_HTTP">
                    <http:request-builder>
                        <http:query-param paramName="zipcode" value="#[flowVars.qpzipcode]"/>
                    </http:request-builder>
                </http:request>
                <dw:transform-message doc:name="Transform Message">
                    <dw:set-payload><![CDATA[%dw 1.0
%type a = :object { class: "com.aparna.entities.Address"}
%type h = :object { class: "com.aparna.entities.Hotel"}
%type pd = :object { class: "com.aparna.entities.PriceDetails"}
%type s = :object { class: "com.aparna.entities.Services"}
%output application/json
---
payload.hotels map ((hotel, index)-> {
	"hotelId": hotel.hotelId,
	"roomId": hotel.roomId,
	"name": hotel.name,
	"address": hotel.address as :a,
	"phoneNumber": hotel.phoneNumber,
	"rating": hotel.rating,
	"comments": hotel.comments,
	"price_details": hotel.price_details as :pd,
	"services": hotel.services as :s
} as :h)]]></dw:set-payload>
                </dw:transform-message>
            </processor-chain>
        </scatter-gather>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
flatten payload]]></dw:set-payload>
        </dw:transform-message>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload
]]></dw:set-payload>
        </dw:transform-message>

    </flow>
</mule>
